{% extends "base.html" %}

{% block content %}
  
    <h1>Quiz</h1>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="participant_id" value="{{ participant.id }}">
        <ol>
            {% for question in questions %}
            <li>
                <p>{{ question.text }}</p>
                {% for choice in question.choices.all %}
                <input type="radio" id="choice_{{ choice.id }}" name="question_{{ question.id }}" value="{{ choice.id }}">
                <label for="choice_{{ choice.id }}">{{ choice.text }}</label><br>
                {% endfor %}
            </li>
            <hr>
            {% endfor %}
        </ol>
        <br>
        <button class="btn btn-success" type="submit">Submit Quiz</button>
    </form>
    {% endblock content %}
